<h1>Profile Page</h1>

<% if @user.active %>
<% else %>
  <div class="alert alert-danger">
    <p>정상적인 서비스 이용을 위하여 이메일 인증이 필요합니다. 이메일을 확인해주세요.</p>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
    <tr>
      <td>ID</td>
      <td><%= @user.id  %></td>
    </tr>
    <tr>
      <td>Email </td>
      <td><%= @user.email  %>
        <% if @user.active %>
          <span class="label label-primary">activated</span>
        <% else %>
          <span class="label label-danger">inactivated</span>
        <% end %>

        <% if @user.admin %>
          <span class="label label-primary">admin</span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Activation Token</td>
      <td><%= @user.activation_token  %></td>
    </tr>
    <tr>
      <td>Password Digest</td>
      <td><%= @user.password_digest  %></td>
    </tr>
    <tr>
      <td>Created At</td>
      <td><%= @user.created_at  %></td>
    </tr>
    <tr>
      <td>Updated At</td>
      <td><%= @user.updated_at  %></td>
    </tr>
    <tr>
      <td>Activate Email <span class="label label-danger">development</span> </td>
      <td><%= link_to "#{root_path}activate/#{@user.activation_token}", activate_path(activation_token: @user.activation_token) %></td>
    </tr>
  <tbody>
  </tbody>
</table>

<% if @user.designer %>
<% else %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">디자이너</h3>
    </div>
    <div class="panel-body">
      <p>디자이너가 아닙니다 <span class="label label-primary">기획</span></p>
    </div>
  </div>
<% end %>

<% if @user.client %>
<% else %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">클라이언트</h3>
    </div>
    <div class="panel-body">
      <p>클라이언트가 아닙니다 <span class="label label-primary">기획</span></p>
    </div>
  </div>
<% end %>
