<!DOCTYPE html>
<html>
<head>
  <title>모두의 디자인 아팅클 | ArTinckle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<%= render "layouts/header" %>

<div class="container">

  <% if flash.any?  %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key  %>">
        <%= value  %>
      </div>
    <% end %>
  <% end %>

  <%= yield %>
</div>

<div class="container">
  <%= debug(params) %>
  <span class="label label-danger">development</span>
</div>

<%= render "layouts/footer"  %>

</body>
</html>
